@{
	ViewData["Title"] = "Sleigh";
}

<h1>Sleigh</h1>

@if (ViewBag.HasError)
{
	<p>Error Result: @ViewBag.ErrorText</p>
	<br />
}

<table style="border-collapse:collapse;width: 100%;">
	<tr>
		<th>Number</th>
		<th>Name</th>
		<th>Manufacturer</th>
		<th>Stationed Region</th>
		<th>Move Sleigh</th>
	</tr>
	@foreach (var row in ViewBag.SleighTable.Rows)
	{
		<tr>
			@for (int i = 0; i < ViewBag.SleighTable.Columns.Count; i++)
			{
				<td>
					@row[i]
				</td>
			}
			<td>

				<form method="post" action="@Url.Action("SelectSleigh", "Sleigh")">
					<div class="makeCentered">
						<input type="hidden" name="sleighNr" value="@row["Number"]" />
						<input type="submit" name="submit" value="Update Region" />
					</div>
				</form>
			</td>
		</tr>
	}
</table>